
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="form-check">
    <input type="checkbox" id="useFixedFee" name="useFixedFee" />
    <label for="useFixedFee">Use Fixed Fee</label>
</div>
